node_modules

# Environment variables
.env
.env.local
.env.*.local

# Next.js build output
.next/
out/

# TypeScript incremental build cache
tsconfig.tsbuildinfo

# Prisma generated client
/generated/prisma

# Misc
.DS_Store
*.log
